
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
/bin/*.o
/bin/app
/build/*.o
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dlls

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app